html, body {overflow:hidden; height: 100%;} /*Hides scrollbar, by not allowing it(not sure what i exactly mean by this)*/
body 
{ 
    background: #222; 
    height: 100%;
    margin: 0px; 
    padding: 0px;
}
#border
{
    position: absolute;
    height: 1000px;
    width: 1000px;
    left: -500px;
    top: -500px;
    outline: 10px dashed red, 20px dashed yellow;
    border-spacing: 10px;
    border-radius: 100%;
}

#center
{
    position: absolute;
    left: 50px;
    top: 50px;
}

#main 
{
    width: 99.5vw; 
    height: 99vh; 
    margin: 0px;
    padding: 0px;
    border: 3px solid darkcyan;
}
.deadlyBox {background-color: red; position: absolute;}
svg{ position: absolute; overflow: visible } /* well this is obviously necessary */
.object {position: absolute; left: 0px; bottom: 0px; top: 0px; right: 0px;}

