html, body {overflow:hidden; height: 100%;} /*Hides scrollbar, by not allowing it(not sure what i exactly mean by this)*/
body 
{ 
    background: #222; 
    height: 100%;
    margin: 0px; 
    padding: 0px;
}
#center
{
    position: relative;
    left: 50%;
    top: 50%;
}
#main 
{
    width: 100%; 
    height: 800px; 
    border: 3px solid darkcyan;
}
svg{ overflow: visible } /* well this is obviously necessary */
.object {position: absolute; left: 0px; bottom: 0px; top: 0px; right: 0px;}

